from .settings import *

DEBUG = True

ALLOWED_HOSTS = ['*']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'otto',
        'USER': 'otto',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}